.inicio {
    background-color: rgba(127, 255, 212, 0.185);
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.foto-index {
    width: 60%;
    border-radius: 15px;
    align-items: center;
    display: block;
    margin: auto;
}

h4 {
    text-align: left;
    margin-top: 50px;
}
.copy{
    color: antiquewhite;
}