.inicio, .quienes-somos, .portafolio {
    background-color: rgba(127, 255, 212, 0.288);
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.foto-index {
    width: 60%;
    border-radius: 15px;
    align-items: center;
    display: block;
    margin: auto;
}

h4 {
    text-align: left;
    margin-top: 50px;
}
.copy{
    color: antiquewhite;
}
.img-tienda{
    width: 90%;
    border-radius: 25px;
}
h2{
    text-align: left;
    margin-top: 100px;
}
.presentacion, .txt-presentacion, .tg-presentacion, .perfil{
    border: 2px solid rgba(255, 255, 255, 0.719);
    border-radius: 20px;
    padding: 6px;
    margin: 8px;
}
.txt-presentacion h3, h1{
    /* color: aqua; */
    text-align: center;
}
.card img{
    width: 45%;
    align-items: center;
    display: block;
    margin: auto;
}
.card{
    padding-top: 12px;
    margin-left: 60px;
    margin-bottom: 25px;
    height: 100%;
}
.card h5{
    text-align: center;
}
.tg-presentacion h3{
    text-align: center;
}
.rfooter{
    margin-top: 22px;
    width: 45px;
    background-position: right;
}
/* Perfil CSS */

.fotoperfil {
    width: 80%;
    border-radius: 50px;
    filter: grayscale(100%);
    transition: all .6s ease;
    margin-top: 22px;
    margin-left: 50px;
}

.fotoperfil:hover {
    filter: none;
    filter: grayscale(0%);
    transition: all .6s ease;
    border-radius: 70px;
    box-shadow: 10px 5px 5px black;
}
.parrafo{
    margin-top: 25px;
    text-align: left;
}
.redes{    
    margin-top: 110px;
    transition: all .9s ease;
    border-radius: 15px;
}
.redes a{
    margin-left: 32px;
    
}
.redes:hover{
    border-radius: 15px;
    border: 5px whitesmoke;
    transition: all .9s ease;
    box-shadow: 10px 5px 5px black;
  }
.mern{
    margin-top: 12px;
    width: 80%;
}
h3, h4, h5{
    margin-bottom: 15px;
}
.correo{
    margin-top: 120px;
}